




.container { 
    display:flex; 
    width: 1400px;
    margin: auto;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    
}

a{ 
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#prev {
    width: 10%;
    
    align-items: center;
    display:flex;
    justify-content: center;
}

#next {
 width: 10%;
    
    align-items: center;
    display:flex;
    justify-content: center;
}

#page {
    width: 80%;
    
    
}
/*
align-items: center;
    display:flex; 
*/ 

.grid-container{ 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
    font-family: "ff-providence-sans-web-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 50%;
}

.grid-container div{
   
    overflow: hidden;
    height: 1fr;

}
#content{
    align-items: center;
    display:flex;
    justify-content: center;

}